.aboutIconImg {
  width: 85px;
  margin-right: 20px;
  margin-left: 20px;
}

.aboutExpressLogo {
  width: 165px;
  margin-right: -25px;
  margin-left: -25px;
}

.aboutReactLogo {
  width: 165px;
  margin-right: -20px;
  margin-left: -20px;
}

@media screen and (max-width: 768px) {
  .marginSpacing {
    margin-right: -18px;
    margin-left: -21px;
  }
}

@media screen and (max-width: 411px) {
  .marginSpacing {
    margin-left: -18px;
  }

  .marginSpacingTwo {
    margin-left: 16px;
  }
}

@media screen and (max-width: 375px) {
  .marginSpacing {
    margin-left: -20px;
  }

  .marginSpacingTwo {
    margin-left: 19px;
  }

  .marginSpacingThree {
    margin-left: 21px;
  }
}
