.container-fluid {
  padding-right: 200px !important;
  padding-left: 200px !important;
}

.portContainer {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-marginBottom {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1500px) {
  .container-fluid {
    padding-right: 150px !important;
    padding-left: 150px !important;
  }
}

@media screen and (max-width: 1024px) {
  .container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .portSmallerFont {
    font-size: 1.5rem !important;
  }

  .hideIt {
    display: none;
  }
}

@media screen and (max-width: 411px) {
  .portSmallerFont {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
}

@media screen and (max-width: 320px) {
  .col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
  }
}
